<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Polytechnology Committee of North Syria">
    <title>Polytechnology Committee of North Syria</title>
    <link href="css/lato.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link href="css/main.css" rel="stylesheet">

    <!--<link rel="canonical" href="https://neovim.io/" />-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar">
    <div class="container">
        <nav class="navbar">
	    <div class="container-fluid">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
		    <span class="sr-only">Toggle navigation</span>
		    <img src="images/icons/icon-menu.svg" alt="Toggle navigation" class="navbar-top-align">
		</button>
		<a href="/" class="navbar-brand">
		    <img src="images/logo@2x.png" id="navbar-logo" alt="Neovim">
		</a>
	    </div>

	    <div class="collapse navbar-collapse navbar-top-align" id="menu">
	      <ul class="nav navbar-nav navbar-right">
		    <li>
		      <a href="about.html">About</a>
		    </li>

		    <li>
		      <a href="contact.html">Contact</a>
		    </li>
		
		</ul>
	    </div>
	    </div>
        </nav>
    </div>
</header>

{{ contents }}

<section class="front-section">
  <div class="container">
    <h2 id="sponsor">Support the project</h2>

    <div class="col-narrow">
      <h3>Apply</h3>
      <p>
      You can find our details on the
      <a href="contact.html">contact page</a>.
      </p>
    </div>

    <div class="col-narrow">
      <h3>Bitcoin</h3>
      <div class="donate">
        <div class="icon">
          <img src="images/icons/bitcoin.png" alt="Bitcoin logo">
        </div>
        <input class="donate" type="text" value="1App43nQ3QQm7brJCQwq1D18LXvD4N7nHn" readonly>
      </div>

      <p>
      View the address at
      <a href="https://blockchain.info/address/1App43nQ3QQm7brJCQwq1D18LXvD4N7nHn">Blockchain.info</a>.
      </p>
    </div>

    <div class="col-narrow">
      <h3>Logo</h3>
      <p><a href="images/polytech-logo.png">polytech-logo.png</a> <span class="light">(23 KB)</span></p>
      <p class="light small">The Polytech logo by
        <a href="http://benoitferran.info/">Benoit Ferran</a> is licensed under the
        <a href="https://creativecommons.org/licenses/by/4.0/legalcode">
		  Creative Commons Attribution License</a>.</p>
    </div>

  </div>
</section>


    <footer>
  <div class="container">
    <div class="col-wide">
      <a href="about.html">About</a>
        ·
      <a href="contact.html">Contact</a>
    </div>

    <div class="col-narrow">
      This site's source is <a href="https://github.com/polytechsyria/polyteknik.org/">hosted on GitHub</a>.
    </div>
  </div>
</footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
