<ol>
 <li>Hardware. If we do not possess the base of the system, we cannot trust the technology. We must from the low level until the high level know and control the entire technology. If there is a piece outside of our hands, then we are under the control of that technology.</li>
 <ol>
  <li>The principles of our tools are based on:</li>
  <ol>
   <li>Big and complex parts are composed from modular components.</li>
   <li>Every module has a simple implementation with one function. Every person can easily understand its construction.</li>
   <li>The plans and source for our tools are are open, with no pointless barriers for understanding its functioning.</li>
  </ol>
  <li>Handheld devices like modular telephones.</li>
  <li>Network tools like router, open source tools for our networks.</li>
  <li>Creating electronic tools of every kind according to our work.</li>
 </ol>
 <li>General network for the people of North Syria. This network is managed by the Wireless Commons License.</li>
 <ol>
  <li>This network allows internet to be shared, and access to services that don’t require internet. Every person in North Syria can access and join the society project. This services are for governance, education .etc</li>
  <li>Special centers in every area for accessing internet and our network. For example in the art & culture centers.</li>
  <li>For areas which are far from major cities such as villages, we can create special devices which give network access through long distance radio and create a local village hotspot. This is good for villagers who are far, whereby they can follow the news from other regions, talk with their friends from other areas, with our material available on the network educate themselves, and find out about events and festivals in every areas.</li>
  <li>The network is the basis of our programme and system. In this environment, the people can with our softwar join the democratic nation project. In this way we reduce their obstacles for political and social participation.</li>
 </ol>
 <li>An operating system in Arabic and Kurdish.</li>
 <ol>
  <li>Decentralized file sharing system integrated into the operating system allowing people to easily collaborate on projects.</li>
  <li>We will load it with all programs for local media work, like video editing, audio editing, image editing, document & office software .etc All with Kurdish and Arabic languages.</li>
  <li>Automatic rollback filesystem, which saves the entire history of files allowing recovery or easy reversion.</li>
 </ol>
 <li>Mixnetwork for anonymizing people’s traffic, protecting them for network analysis by the state.</li>
 <ol>
  <li>The state cannot target individuals because all network traffic looks like noise, and there is no map of the network.</li>
  <li>The system guarantees that everybody is automatically secure with little effort from the user.</li>
 </ol>
 <li>Organization of network operators. They are responsible for general management of the network. If there’s a problem, they are responsible for quickly solving it, and also for giving assistance to users.</li>
 <ol>
  <li>Sysops work on the network and running of network services. They manage subsystems and review the system’s operation that it can run efficiently and effectively.</li>
  <li>Examples of services:</li>
  <ol>
   <li>Sharing of files with all people or only a few people in a secure way.</li>
   <li>Organizing projects, managing work, programs for organization and reaching project goals.</li>
   <li>Managing translation work.</li>
   <li>Programs for decision making and negotiation.</li>
   <li>Database for accounting and statistical information of economic projects.</li>
 </ol>
 <li>Framework for creating cryptographic and decentralized programs. People with a lower level of technical knowledge can quickly create new systems with few problems. But this framework gives them access to many special code libraries with complex algorithms in an easy to use way. This method allows us a faster possibility for creating many complex systems with wide functionality. In this way smart young people without lots of deep technical knowledge can assist in developing this project.</li>
 <ol>
  <li>Framework for decentralized and cryptographic systems.</li>
  <li>Society with a collective manner can manage its own resources. This opens an opportunity for the people to affect society.</li>
 </ol>
 <li>Anonymous decentralized software:</li>
 <ol>
  <li>With cryptocurrency, we can reduce the cost of transactions to below 0.5%. The flow of currency is outside control of the state and anonymous, allowing the citizens of North Syria to freely transact amongst themselves.</li>
  <li>System for decentralized elections whereby everybody can express their voice democratically and participate politically.</li>
  <li>System for collective ownership of resources, with incentive mechanisms such as an exchange for leverage of assets allowing for example farmers to gain investment in new agriculture projects.</li>
  <li>Systems to allow people to monitor political processes and their results.</li>
  <li>Programs for project management, distribution of work and aggregating information.</li>
  <li>Groups can quickly without issues self organize for societal projects.</li>
  <li>Algorithmic legal systems whereby results are quickly made in a process that doesn’t rely on multiple people.</li>
  <li>Cryptocurrency for establishing social projects. For example a city municipality can create its own currency, which people in the city use, as usage of the currency increases, the city is able to use that value for supporting infrastructure projects.</li>
  <li>System for distribution of products in the society. People can in an easy way find local products throughout the canton, and the system self organizes distribution of these products. Financial tools increase the effectiveness of the cooperative.</li>
  <li>Mechanisms for strengthening the democratic nation project. We are researching new ideas from around the world, to start modern projects. Technology from North Syria will become famous around the world.</li>
 </ol>
 <li>Academies for spreading technical knowledge. In art & culture centers of every city, there will be organized regular seminars on the latest world developments in technology.</li>
 <ol>
  <li>A large organized group of volunteers through the society which work on social projects.</li>
  <li>From this large group, we will find good people with will, knowledge and philosophy.</li>
 </ol>
 <li>Technology for ecological industry. With digital platforms, knowledge is spread, and an industrial base is created.</li>
 <li>Autonomous machines for agriculture, researching information for increasing the efficiency of our systems.</li>
 <ol>
  <li>Evaluating the genetics of agriculture, creating an information bank. Automatic monitoring of the quality of agriculture products.</li>
  <li>Systems that gather information and give us knowledge, for example when to optimally water plans. Systems that work with statistical and mathematical analysis.</li>
 </ol>
 <li>Autonomous system for communication and economic activity without the internet.</li>
 <li>Media and media technology</li>
 <ol>
  <li>Researching the interaction of human behaviour, media and technology. How we can use media for distributing new concepts and images.</li>
  <li>Services for media work</li>
  <li>Special group concerned with media and technology</li>
  <ol>
   <li>Infrastructure for media archives</li>
   <li>Special effects for media (SFX)</li>
   <li>Small scripting and programming</li>
  </ol>
 </ol>
</ol>
